.filesupload-btn{
    width: 80px;
    height: 30px;
    background-color: #3D3B40;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.filesupload-container{
    width: 30vw;
    height: 10vw;
    min-width: 300px;
    min-height: 200px;
    border: 1px solid #454545;
    padding: 10px;
}
.filesupload-header{
    color: #454545;
}